<!DOCTYPE html>
<html>
  <head>
    <title>Page du QCM <%= id_qcm %></title>
  </head>
  <body>
    <h1>QCM numéro <%= id_qcm %></h1>
    <p>Bienvenue sur la page du QCM numéro <%= id_qcm %>.</p>
  </body>
</html>
